<header class="header">
    <div class="header-content">
        <a routerLink="/">
            <span class="header-content-logo">LEARN-ANGULAR.COM</span>
        </a>
        <div class="header-content-search">
            <div class="header-content-choose-theme">
                <button (click)="toggleTheme()" class="header-content-themeChanger {{darkTheme ? 'dark' : 'ligth'}}">{{darkTheme ? 'Темная' : 'Светлая'}} тема</button>
            </div>
            <input class="header-content-search-input" placeholder="Искать на Learn-Angular.com" type="text">
        </div>
    </div>
</header>
