<main class="whatIsAngularPage">
    <div class="whatIsAngularMainContent">
        <div class="whatIsAngularHeaderBlock">
            <span>Введение в Angular</span>
            <span>Что такое Angular. Первый проект</span>
        </div>
        <div class="whatIsAngularContent">
            <p>
                Angular представляет фреймворк от компании Google для создания клиентских приложений. Прежде всего он нацелен на разработку SPA-решений (Single Page Application), то есть одностраничных приложений. В этом плане Angular является наследником другого фреймворка AngularJS. В то же время Angular это не новая версия AngularJS, а принципиально новый фреймворк.
            </p>
            <p>
                Angular предоставляет такую функциональность, как двустороннее связывание, позволяющее динамически изменять данные в одном месте интерфейса при изменении данных модели в другом, шаблоны, маршрутизация и так далее.
            </p>
            <p>
                Одной из ключевых особенностей Angular является то, что он использует в качестве языка программирования TypeScript. Поэтому перед началом работы рекомендуется ознакомиться с основами данного языка, про которые можно прочитать <a href="https://metanit.com/web/typescript/">здесь</a>.
            </p>
            <p>
                Но мы не ограничены языком TypeScript. При желании можем писать приложения на Angular с помощью таких языков как Dart или JavaScript. Однако TypeScript все таки является основным языком для Angular.
            </p>
            <p>
                Последняя версия Angular - Angular 15 вышла в декабре 2022 года. Официальный репозиторий фреймворка на гитхабе: <a href="https://github.com/angular/angular">https://github.com/angular/angular</a>. Там вы можете найти сами исходные файлы, а также некоторую дополнительную информацию.
            </p>

            <span>Начало работы c Angular</span>

            <p>
                Для работы с Angular необходимо установить сервер Node.js и пакетный менеджер npm, если они отсутствуют на рабочей машине. При этом особого какого-то знания для работы с NodeJS и npm не требуется. Для установки можно использовать <a href="https://nodejs.org/en/">программу установки node.js</a>. Вместе с сервером она также установит и npm.
            </p>
            <p>
                Следует учитывать, что Angular 15 поддерживает те версии node.js, которые в текущий момент находятся в статусе "Active LTS" или "Maintenance LTS". На момент написания данной статьи это версии 16 и 18. Поэтому, если Node.js уже ранее был установлен, но имеет более старую или, наоборот новую, но еще не поддерживаемую версию, то лучше его обновить. Проверить совместимость версий node.js (а также версий typescript и библиотеки RxJS) для определенных версий Angular можно по адресу: <a href="https://gist.github.com/LayZeeDK/c822cc812f75bb07b7c55d07ba2719b3">https://gist.github.com/LayZeeDK/c822cc812f75bb07b7c55d07ba2719b3</a>.
            </p>
            <p>
                То же самое касается и npm. Если версия слишком старая или, наоборот, одна из последних, то Angular может ее не поддерживать. При работе с Angular лучше полагаться на ту версию npm, которая устанавливается вместе с LTS-версией Node.js.
            </p>
            <p>
                После установки необходимых инструментов создадим простейшее приложение. Для этого определим на жестком диске папку приложения. Путь она будет называться <b>helloapp</b>.
            </p>

            <span>Установка Angular CLI</span>

            <p>
                Для компиляции приложения мы будем использовать инфрастуктуру Angular CLI. Angular CLI упрощает создание приложения, его компиляцию. Angular CLI распространяется как пакет npm, поэтому для его использования его необходимо сначала установить. Для установки Angular CLI откроем консоль/командную строку и выполним в ней следующую команду:
            </p>

            <div class="console">
                <pre class="consoleText">npm install -g @angular/cli</pre>
            </div>

            <p>
                Данная команда установит пакет <b>@angular/cli</b> в качестве глобального модуля, поэтому в последующем при создании новый проектов Angular его не потребуется устанавливать заново.
            </p>
            <p>
                Ту же команду можно использовать для обновления Angluar CLI при выходе новой версии фреймворка. Проверить версию CLI можно в командной строке/консоли с помощью команды:
            </p>

            <div class="console">
                <pre class="consoleText">ng version</pre>
            </div>

            <p>
                При работе на Windows и выполнении команд в PowerShell вместо командной строки стоит учитывать, что по умолчанию выполнение скриптов в PowerShell отключено. Чтобы разрешить выполнение скриптов PowerShell (что требуется для npm), необходимо выполнить следующую команду:
            </p>

            <div class="console">
                <pre class="consoleText">Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned</pre>
            </div>

            <span>Установка пакетов. Package.json</span>

            <p>В папке проекта создадим новый файл package.json со следующим содержимым:</p>

            <table>
                <tr>
                    <td>
                        <div *ngFor="" class="line number1">1</div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</main>
